#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 99%;
  margin: 0px 5px;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  
}

.adduser {
  display: flex;
  align-items: center;
  width: 82vw;
}

.btn_adduser {
  height: fit-content;
  right: 5%;
  position: absolute;
}
.btn_view{
  margin: 5px 5px;
  border: 2px dashed deepskyblue;
  cursor: pointer;
}
.btn_del{
  margin: 5px 5px;
  border: 2px dashed red;
  cursor: pointer;
}
